
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
/*  background-color: alpha(@theme_bg_color, 0.3);
 */ background-color: alpha(@theme_bg_color, 0);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    border-radius: 4px;
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}

/* #####edit the workspace colors when you change theme*/
#workspaces {
/*    border-radius: 20px;
    background: rgba(40, 42, 54, 0.85);
*/    transition: none;
}

#workspaces button {
    transition: none;
    color:      @theme_text_color;
    background: transparent;
}

#workspaces button.visible {
    color: @theme_selected_bg_color;
    /*box-shadow: inset 0 -28px @theme_selected_bg_color;
    */
    /*box-shadow: inset -58px 0px @theme_selected_bg_color;
    */border-radius: 4px;
}

#workspaces button.focused {
    /*color: rgba( 255, 0, 255, 1);
    */color: @theme_selected_bg_color;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @theme_selected_bg_color;
    box-shadow: inset 0px -2px @theme_selected_bg_color;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}



#taskbar button.active{
    box-shadow: inset 0 -12px @theme_selected_bg_color;
}





#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
    font-family: 'JetBrains Mono Nerd';
    /*box-shadow: inset -2px 0px @theme_selected_bg_color;
    */border-radius: 2px;
}

#clock:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}



#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  padding: 0 8px;
}

#custom-notification:hover {
  font-family: "NotoSansMono Nerd Font";
  background-color: @theme_selected_bg_color;
}






#battery {
    color: @theme_text_color;
    background-color: alpha(@theme_bg_color, 0);
}

#battery.charging, #battery.plugged {
    color: @theme_text_color;
background-color: alpha(@theme_bg_color, 0);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#power-profiles-daemon {
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
}

#power-profiles-daemon.power-saver {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
}

label:focus {
    background-color: #000000;
}



#backlight {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
}

#backlight:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}




#pulseaudio:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#pulseaudio {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
}


#pulseaudio.muted {
    background-color: alpha(@theme_bg_color, 0);
    color: @theme_text_color;
}



#tray {
    background-color: alpha(@theme_bg_color, 0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-media {
  font-family: "NotoSansMono Nerd Font";
}
